.datatable3 {
    border: 2px solid #D6DDE6;
    border-collapse: collapse;
	/*float:left; */
}

.datatable3 td {
    border: 1px solid #000000;
	padding: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.datatable3 th {
    border: 2px solid #024a75;
    font-weight: bold;
    text-align: left;
    padding:10px;
	font-size:14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


